# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 67a6b2ac6215272b70218f7871fb4329ad0640efc151ec2b8c2b45434fde5996488f398b52d4bcc03aeb7d75ba6f4d838ddfbcd913e83e0336e6b5bb02dc5e02

test:
  secret_key_base: bc726a8bcf0880fc8ecad0c8126c0f8c2d797bb06cb66e6ea3637a932435771ea6682bdb0d06f9ebcb95b7c33293a9a0740e04f95627e38cd4147508e5f68658

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
